{% extends 'base.html' %}
 {% load staticfiles %}
{% block content %}

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">QSAT
                        <strong>Results</strong>
                    </h2>
                    <hr>
                    <p><strong>Bhopal</strong></p>
                    <table class = "table">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Level</th>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Ayushi Gajpal</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Kriti Dwivedi</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Vaibhav Singh</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                    </table>
                    <p><strong>Aurangabad</strong></p>
                    <table class = "table">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Level</th>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Nandkhedkar Gauri Sunil</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Smruti Shirish Deshpande</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Shruti Wadhekar</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                    </table>
                    <p><strong>Ahmedabad</strong></p>
                    <table class = "table">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Level</th>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Jaimin Patel</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Aman Dhammani</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Riya Thakkar</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                    </table>
                    <p><strong>Amravati</strong></p>
                    <table class = "table">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Level</th>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Chirag Kasat</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Ruchi Kalantri</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Sarang Gattani</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Abhijeet Mane</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Gayatri Harne</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Krunal Pande</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                    </table>
                    <p><strong>Pune</strong></p>
                    <table class = "table">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Level</th>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Sourabh Patil</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Riddhiman Moulick</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Utkarsh Rastogi</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Gaurav Chugh</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Gautam Hegde</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Siddhant Chaudhari</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                    </table>
                    <p><strong>Vadodara</strong></p>
                    <table class = "table">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Level</th>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Soumya Mathur</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Yash Jagtap</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Vedant Natu</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Kirtan Vora</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Sufal Dighe</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Darshan Agarwal</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                    </table>
                    <p><strong>Indore</strong></p>
                    <table class = "table">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Level</th>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Aaditya Gupta</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Anurag Vyas</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Swaraj Gupta</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Anany Sharma</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Akshat Gahoi</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Rishabh Shrimal</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                    </table>
                    <p><strong>Lucknow</strong></p>
                    <table class = "table">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Level</th>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Manasvi Pathak</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Apoorva Singh</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Mayank Agrawal</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Ayush Choudhary</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Aditya Kashyap</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Radhika Jain</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                    </table>
                    <p><strong>Trivandrum</strong></p>
                    <table class = "table">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Level</th>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Jomey James</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Vishnu</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Navin John</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Aswin R</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Amal Das</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Siddharth Rajeev</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                    </table>
                    <p><strong>Jodhpur</strong></p>
                    <table class = "table">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Level</th>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Lakshika Rathi</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Hriday Maheshwari</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Aditi Singh</td>
                        <td class = "col-md-3">1</td>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Aryan Choudhary</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Kartik Purohit</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Aditya Vardhan Rathore</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                    </table>
                    <p><strong>Kota</strong></p>
                    <table class = "table">
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Level</th>
                        </tr>
                        <tr>
                        <td class = "col-md-3">I</td>
                        <td class = "col-md-6">Suysah Chhaparia</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">II</td>
                        <td class = "col-md-6">Monal Prasad</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                         <tr>
                        <td class = "col-md-3">III</td>
                        <td class = "col-md-6">Moloy Writ Saikia</td>
                        <td class = "col-md-3">2</td>
                        </tr>
                    </table>
                    <!-- <p>Answer Keys</p>
                    <ul class = "down">
                        <li><a href="{% static 'level216ans.pdf' %}" target = "_blank" >Level2 Answer Key</a></li>
                        <li><a href="{% static 'level116ans.pdf' %}" target = "_blank" >Level1 Answer Key</a></li>
                    </ul>
                    <p>Download last year's papers here.</p>
                    <ul class = "down">
                        <li><a href="{% static 'level2q.pdf' %}" target = "_blank" >2015 Level2 Question Paper
                            </a>
                        </li>
                        <li><a href="{% static 'level2ans.pdf' %}" target = "_blank" >2015 Level2 Answer Paper</a></li>
                        <li><a href="{% static 'level1q.pdf' %}" target = "_blank" >2015 Level1 Question Paper</a></li>
                        <li><a href="{% static 'level1ans.pdf' %}" target = "_blank" >2015 Level1 AnswerPaper</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
        <style type="text/css">
            .down li {
  margin: 20px 0;
}
        </style>

        <!-- <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact
                        <strong>form</strong>
                    </h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, vitae, distinctio, possimus repudiandae cupiditate ipsum excepturi dicta neque eaque voluptates tempora veniam esse earum sapiente optio deleniti consequuntur eos voluptatem.</p>
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Email Address</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <label>Message</label>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
   {% endblock %}