 {% extends 'base.html' %}
 
 {% block content %}
          

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Register
                        <strong>Complete</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center"><p>
                    Please pay over here: <a href="https://www.onlinesbi.com/prelogin/institutiontypedisplay.htm">SBI Collect</a> following the instructions given below<br><br><br>
                    <strong>Instructions</strong>
                    <br>
                    <div class="col-lg-10 col-lg-offset-1" style="text-align:left">
                    <ol style="margin:30px; font-size: 1.2em">
                         <li><strong>State of Corporate/Institution : </strong> Goa</li>
                         <li><strong>Type of Corporate/Institution : </strong> Educational Institutions</li>
                         <li>Click <strong>Go</strong></li>
                         <li><strong>Educational Institutions Name : </strong> BIRLA INSTITUTE OF TECHNOLOGY AND SCIENCE</li>
                         <li>Click <strong>Submit</strong></li>
                         <li><strong>Select Payment Category : </strong> QUARK 2016 - Registration Fees</li>
                         <li>Fill in your details and proceed for payment</li>
                         <li>Please take a <strong><u>PDF PRINT OF THE PAGE</u></strong></li>
                         <li>You will receive a mail shortly  with further instructions</li>
                    </ol>
                    <style type="text/css">
                        ol li{
                            margin:20px;
                        }
                    </style>
                    </div>
                    <br></p>
                </div>
                
            </div>
        </div>

    </div>
    <!-- /.container -->
   {% endblock %}