 {% extends 'base.html' %}

 {% block content %}
           
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-12 text-center">
                    
                    <h3>Aman Thakkar<br>
                        <small>Chief Coordinator</small><br>
                    </h3>
                    <p>amanthakkar15036@gmail.com</p>
                </div>
                
                <div class="clearfix"></div>
                <div class="col-sm-6 text-center">
                    
                    <h3>Parth Mehta<br>
                        <small>Convener</small><br>
                    </h3>
                    <p>parthmehta951@gmail.com</p>
                </div>
                
                <div class="col-sm-6 text-center">
                    
                    <h3>Ishan Kohli<br>
                        <small>Sponsorship & Marketing Head</small><br>
                    </h3>
                    <p>kohli.ishaan96@gmail.com</p>
                </div>
                
                <div class="clearfix"></div>
                                <div class="col-sm-6 text-center">
                    
                    <h3>Apeksha Singh<br>
                        <small>Media Head</small><br>
                    </h3>
                    <p>apeksha.ak.singh@gmail.com</p>
                </div>
                
                <div class="col-sm-6 text-center">
                    
                    <h3>Pranay Karnawat<br>
                        <small>Publicity Head</small><br>
                    </h3>
                    <p>pkarnawat98@gmail.com</p>
                </div>
                
                <div class="clearfix"></div>
                                <div class="col-sm-12 text-center">
                    
                    <h3>Sebastin Santy<br>
                        <small>Web Administrator</small><br>
                    </h3>
                    <p>webadmin@bits-quark.org</p>
                </div>
                
                
                <div class="clearfix"></div>
                <br><br>
                 <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">City
                        <strong>Representatives</strong>
                    </h2>
                    <hr>
                </div>
                 <div class="col-sm-6 text-center">
                    
                    <h3>Navi Mumbai
                    </h3>

                        <p><strong>Mihir Kulkari</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7021996724</p>
                        <p><strong>Shashwat Madan</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8169054318</p>
                        <p><strong>Parth Mehta</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8208110848</p>

                </div>  
                <div class="col-sm-6 text-center">
                    
                    <h3>Jodhpur
                    </h3>

                        <p><strong>Deewakar Bissa</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7023802410</p>
                        <p><strong>Shivam Dubey</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8947035311</p>


                </div>  
                
                <div class="clearfix"></div>



                <div class="col-sm-6 text-center">
                    
                    <h3>Indore
                    </h3>
            
                        <p><strong>Aditya Ketkar</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9406862615</p>
                        <p><strong>Raghav Agrawal</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8989834222</p>
              
                </div>  
                <div class="col-sm-6 text-center">
                    
                    <h3>Patna
                    </h3>
            
                        <p><strong>Parul Verma</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9472594080</p>
                        <p><strong>Akshita Singh</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7719855948</p>


                </div>  
                
                <div class="clearfix"></div>




                <div class="col-sm-6 text-center">
                    
                    <h3>Pune
                    </h3>
            
                        <p><strong>Sachin Darade</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7387875111</p>
       
       
                </div>  
                <div class="col-sm-6 text-center">
                    
                    <h3>Mumbai
                    </h3>
            
                        <p><strong>Omkar Kanade</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9619633128</p>
                        <p><strong>Sonali Saksena</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9869784407</p>
                        <p><strong>Arnav Goel</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9820200099</p>
             
    
                </div>  
                
                <div class="clearfix"></div>




                <div class="col-sm-6 text-center">
                    
                    <h3>Ratlam
                    </h3>
            
                        <p><strong>Shreyansh Jain</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8463052779</p>
               
                </div>  
                <div class="col-sm-6 text-center">
                    
                    <h3>Ajmer
                    </h3>
            
                        <p><strong>Nikunj Mittal</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9530479313</p>
                        <p><strong>Mohit Kurani</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7597215288</p>
                  
           
                </div>  
                
                <div class="clearfix"></div>



                <div class="col-sm-6 text-center">
                    
                    <h3>Shimla
                    </h3>
            
                        <p><strong>Manikya Garg</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7888015099</p>
                        <p><strong>Utkarsh Mahajan</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7837841385</p>
         
                  
                </div>  
                
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock %}
