 {% extends 'base.html' %}

 {% block content %}
           
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-12 text-center">
                    
                    <h3>Yash Singhal<br>
                        <small>Chief Coordinator</small><br>
                    </h3>
                    <p>singhal@bits-quark.org</p>
                </div>
                
                <div class="clearfix"></div>
                <div class="col-sm-6 text-center">
                    
                    <h3>Siddhartha Yadav<br>
                        <small>Convener</small><br>
                    </h3>
                    <p>siddhartha@bits-quark.org</p>
                </div>
                
                <div class="col-sm-6 text-center">
                    
                    <h3>Kinjal Motwani<br>
                        <small>Sponsorship Head</small><br>
                    </h3>
                    <p>kinjal@bits-quark.org</p>
                </div>
                
                <div class="clearfix"></div>
                                <div class="col-sm-6 text-center">
                    
                    <h3>Apeksha Jain<br>
                        <small>Media Head</small><br>
                    </h3>
                    <p>apeksha@bits-quark.org</p>
                </div>
                
                <div class="col-sm-6 text-center">
                    
                    <h3>Harsh Patel<br>
                        <small>Publicity Head</small><br>
                    </h3>
                    <p>harsh@bits-quark.org</p>
                </div>
                
                <div class="clearfix"></div>
                                <div class="col-sm-12 text-center">
                    
                    <h3>Sebastin Santy<br>
                        <small>Web Administrator</small><br>
                    </h3>
                    <p>webadmin@bits-quark.org</p>
                </div>
                
                
                <div class="clearfix"></div>
                <br><br>
                 <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">City
                        <strong>Representatives</strong>
                    </h2>
                    <hr>
                </div>
                 <div class="col-sm-6 text-center">
                    
                    <h3>Amravati
                    </h3>

                        <p><strong>Aman Thakkar</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9403304352</p>


                </div>  
                <div class="col-sm-6 text-center">
                    
                    <h3>Aurangabad
                    </h3>

                        <p><strong>Rohit Kulkarni</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9604463730</p>


                </div>  
                
                <div class="clearfix"></div>



                <div class="col-sm-6 text-center">
                    
                    <h3>Indore
                    </h3>
            
                        <p><strong>Nipun Sood</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9425965464</p>
                        <p><strong>Pravar Mandloi</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7415955396</p>
                        <p><strong>Pranshu Singhal</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8817330973</p>
                        <p><strong>Manika</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8889677788</p>
                        <p><strong>Pooja</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7774010052</p>
                        <p><strong>Ritesh</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9713367742</p>
              
                </div>  
                <div class="col-sm-6 text-center">
                    
                    <h3>Jodhpur
                    </h3>
            
                        <p><strong>Shubhank Maheshwari</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9783460709</p>
                        <p><strong>Pranay Karnawat</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8975753321</p>
                        <p><strong>Shubham Rohila</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8807807135</p>


                </div>  
                
                <div class="clearfix"></div>




                <div class="col-sm-6 text-center">
                    
                    <h3>Raipur
                    </h3>
            
                        <p><strong>Aviral Rathi</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9479015160</p>
                        <p><strong>Archit Mundra</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8698511995</p>
                        <p><strong>Pulkit</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9405640600</p>
       
       
                </div>  
                <div class="col-sm-6 text-center">
                    
                    <h3>Trivandrum
                    </h3>
            
                        <p><strong>Bharath P S</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8698597016/8547420131</p>
                        <p><strong>Adarsh R</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8698592520</p>
                        <p><strong>Naveen</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7774033926</p>
                        <p><strong>Aishwarya</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9495408909</p>
             
    
                </div>  
                
                <div class="clearfix"></div>




                <div class="col-sm-6 text-center">
                    
                    <h3>Vadodara
                    </h3>
            
                        <p><strong>Urval Shah</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9377637799</p>
                        <p><strong>Prashuk Doshi</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9409467332</p>
                        <p><strong>Amol Pathak</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9586929184</p>
               
                </div>  
                <div class="col-sm-6 text-center">
                    
                    <h3>Pune
                    </h3>
            
                        <p><strong>Aniket Tikalkar</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9764449188</p>
                        <p><strong>Shreesh Keskar</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7588275770</p>
                  
           
                </div>  
                
                <div class="clearfix"></div>



                <div class="col-sm-6 text-center">
                    
                    <h3>Bangalore
                    </h3>
            
                        <p><strong>Shivyam Rastogi</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9916514949</p>
                        <p><strong>Kshitij Dani</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8970454864</p>
                        <p><strong>Preetham</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9538132639</p>
         
                  
                </div>  
                <div class="col-sm-6 text-center">
                    
                    <h3>Bhopal
                    </h3>
            
                        <p><strong>Akshat Joshi</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9617480566</p>
                        <p><strong>Shreyas Gupta</strong> <i class="fa fa-phone" aria-hidden="true"></i> 8871788637</p>
              
                    
                </div>  
                
                <div class="clearfix"></div>

                 <div class="col-sm-6 text-center">
                    
                    <h3>Lucknow
                    </h3>
            
                        <p><strong>Abhinav</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7860467388</p>
                        <p><strong>Himanshu</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9044512183</p>
         
                  
                </div>  
                <div class="col-sm-6 text-center">
                    
                    <h3>Kota
                    </h3>
            
                        <p><strong>Rachit</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7597474371</p>
                        <p><strong>Shrey</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9413456840</p>
              
                    
                </div>  
                
                <div class="clearfix"></div>


                <div class="col-sm-12 text-center">
                    
                    <h3>Ahmedabad
                    </h3>
            
                        <p><strong>Saumik Jaiswal</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9913809470</p>
                        <p><strong>Jaishil Patel</strong> <i class="fa fa-phone" aria-hidden="true"></i> 7802802364</p>
                        <p><strong>Abhishek Desai</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9405640080</p>
                        <p><strong>Vishwas</strong> <i class="fa fa-phone" aria-hidden="true"></i> 9712912790</p>
                                    
                </div>  
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock %}